# MongoDB Connection String (Update if using a remote cluster)
MONGO_URI=mongodb://localhost:27017/

# Database Name for PlantGuard
DB_NAME=plantguard_db

SMTP_USER=...m@gmail.com
SMTP_PASSWORD=your_google_app_password
WEATHER_LAT=21.0285
WEATHER_LON=105.8542
